@import url(estilos/styles.css);
@import url(estilos/InicioEstilos.css);
@import url(estilos/Contactenos.css);
@import url(estilos/Historias.css);

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    scroll-behavior: smooth; /* Desplazamiento suave */
    font-family: "SUSE", sans-serif;
}




.grid-template-3{
    grid-template-columns: repeat(3, 1fr);
}
.display-none{
    display: none;
}









/*Media Querys: Para el diseño responsive */

/*--------------------------------------------------------------*/

@media screen and (max-width:1024px) {
    #header ul{
        display: flex;
    }
    .icon-menu{
        display: none;
    }
    .fixed{
        display: block;
    }
    .menu-options{
        display: block;        
    }
    .card-container{
        position: fixed;
    }
    .contactenos-container{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        height: fit-content;
    }
    .fotos, .contacto {
        margin: 0;
    }
    .icon{
        min-height: 300px;
    }
    .fotos{
        margin-top: 20px;
    }
    .fotos h2{
        display: none;
    }
}
.card.focused {
    border: 2px solid #3498db; /* Cambia el color del borde */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Añade un efecto de sombra */
    transform: scale(1.05); /* Agranda ligeramente la tarjeta */
    transition: all 0.3s ease;
}

