
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');

*{
    margin: 0;
    box-sizing: border-box;
}

body{
   /* overflow: hidden;*/
    scroll-behavior: smooth; /* Desplazamiento suave */
    font-family: "SUSE", sans-serif;
}

.contenidoPrueba{
    width: 100%;
    background-color: gray;
    height: 90vh;
}
/*--------------------------------------------------------------------*/
/****NUBES*****/
.background{
    width: 100%;
    font-family: "SUSE", sans-serif;
    background-image: url(./img/fondo.png);
    height:100vh;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-position: center;
    scroll-snap-type: y mandatory;
    overflow: hidden; /* Evita el desplazamiento inesperado */
}
.container-clouds{
    position: relative;
    z-index: 1;
}
.clouds{
    position: absolute;
    background-image: url(./img/cloud.png);
    background-size: 100% 100%;
}
.clouds:nth-child(1){
    width: 300px;
    height: 150px;
    top: 200px;
    animation: movimientoI 60s linear infinite ;
}
.clouds:nth-child(2){
    width: 240px;
    height: 120px;
    top: 300px;
    animation: movimientoD 60s linear infinite ;
}
.clouds:nth-child(3){
    width: 240px;
    height: 120px;
    top: 400px;
    animation: movimientoIT 60s linear infinite ;
}
.clouds:nth-child(4){
    width: 120px;
    height: 60px;
    top: 250px;
    animation: movimientoDT 60s linear infinite ;
}

@keyframes movimientoI{
    from{
        left: 100%;
    }
    to{left: -30%;}
}
@keyframes movimientoIT{
    from{
        left: 120%;
    }
    to{left: -50%;}
}
@keyframes movimientoD{
    from{
        right: 100%;
    }
    to{right: -30%;}
}
@keyframes movimientoDT{
    from{
        right: 110%;
    }
    to{right: -30%;}
}

/*--------------------------------------------------------------------*/
/*****Header*****/
.container-xl{
    max-width: 1400px;
    margin: 0 auto;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    padding: 20px;
}

#header{
    width: 100%;
    padding: 10px; 
    position: fixed;              
    min-height: 50px;
    top: 0;
    left: 0;
}
#header ul{
    list-style: none;
    display: flex;
    height:20px;
    padding: 3% 60px;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.3rem;
    display: none;
}
.lista-actual{
    position: relative;
    border-bottom: 4px solid #B28261;
    
}
#btn_act{
    width: 100%;
}
.lista-actual-animacion{
    animation: aparecer 1.5s;
}
@keyframes aparecer{
    from{
        width: 0;
    }
    to{width: 70px;}
}
.link-header{
    text-decoration: none;
    color: #B28261;
    background:none;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;    
}
.lista-resto li{
    margin: 0 20px;
}

.icon-menu{
    background-color: red;
    display: block;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0, -10%);
    cursor: pointer;
    border: none;
}
/*--------------------------------------------------------------------*/
/****Contenido Pagina Inicio****/
.container{
    max-width: 1000px;
    margin: auto;
    padding: 100px 0;
}
/*--------------------------------------------------------------*/
/*Animacion de Bienvenida*/
.word{
	font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
    text-align: center;
}

.word span{
	cursor: pointer;
	display: inline-block;
	font-size: clamp(3.5rem, 5vw, 5rem);
	user-select: none;
	line-height: .8;
}

.word span:nth-child(2).active {
	animation: balance 1.5s ease-out;
	transform-origin: bottom left;
}

@keyframes balance {
	0%, 100% {
		transform: rotate(0deg);
	}
	
	30%, 60% {
		transform: rotate(-45deg);
	}
}

.word span:nth-child(4).active {
	animation: shrinkjump 1s ease-in-out;
	transform-origin: bottom center;
}

@keyframes shrinkjump {
	10%, 35% {
		transform: scale(2, .2) translate(0, 0);
	}
	
	45%, 50% {
		transform: scale(1) translate(0, -150px);
	}
	
	80% {
		transform: scale(1) translate(0, 0);
	}
}

.word span:nth-child(6).active {
	animation: falling 2s ease-out;
	transform-origin: bottom center;
}

@keyframes falling {
	12% {
		transform: rotateX(240deg);
	}
	
	24% {
		transform: rotateX(150deg);
	}
	
	36% {
		transform: rotateX(200deg);
	}
	
	48% {
		transform: rotateX(175deg);
	}
	
	60%, 85% {
		transform: rotateX(180deg);
	}
	
	100% {
		transform: rotateX(0deg);
	}
}

.word span:nth-child(8).active {
	animation: rotate 1s ease-out;
}

@keyframes rotate {
	20%, 80% {
		transform: rotateY(180deg);
	}
	
	100% {
		transform: rotateY(360deg);
	}
}

.word span:nth-child(10).active {
	animation: toplong 1.5s linear;
}

@keyframes toplong {
	10%, 40% {
		transform: translateY(-48vh) scaleY(1);
	}
	
	90% {
		transform: translateY(-48vh) scaleY(4);
	}
}
/********************************/
.main-page{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0 20px 0;
}
.container-img{
    height: 50%;
    padding: 30px;
    max-width: 500px;
}
.fondo-central{
    height: 100%;
}

.btn-main{
    background-color: #4ABE52;
    padding: 10px 40px;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-family: "SUSE", sans-serif;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s;
}
.btn-start{
    font-size: 1.3rem;
}

.btn-main:hover{
    transform: scale(1.05);
}
.slide-down{
    width: 5px;
    height: 70px;
    background-color: rgb(191, 191, 191);
    border-radius: 10px;
    position: relative;
}
.slide-down::after{
    content: "";
    width: 5px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    animation: slide 2s infinite;
}
@keyframes slide{
    from{
        top:0;
    }
    to{
        top: 73%;
    }
}
.other-page{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    max-width: 300px;
    margin-top: 30px;
}
.other-page span{
    max-width: 150px;
}
.mouse-img-down{
    max-width: 24px;
    animation: slide 2s infinite;
    position: absolute;
    top: 0;
    left: -20%;
}
.mouse-img-down img{
    width: 100%;
}

/********************************/

.cuento:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    bottom: 0;
    margin-top: 100px;
}


/*Media Querys: Para el diseño responsive */
@media screen and (min-width:1024px) {
    #header ul{
        display: flex;
    }
    .icon-menu{
        display: none;
    }
    .fixed{
        display: block;
    }
}
/*--------------------------------------------------------------*/

.historias-destacadas{
    height: 90vh;
}
.historias-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    overflow-y: scroll;
    height: 95%;
}
.historias-destacadas h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    color: #4a90e2;
}

/*--------------------------------------------------------------------*/
/****Historias*/

.historias-destacadas{
    height: 90vh;
}
.historias-destacadas h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    color: #4a90e2;
}
.options{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(247, 247, 247);
    margin-bottom: 20px;
    padding: 20px;
}
.historias-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    overflow-y: scroll;
    height: 95%;
}
.cuento {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    max-width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}

.cuento h3 {
    font-size: 24px;
    color: #4a90e2;
}

.cuento p {
    font-size: 16px;
    color: #666;
}

.cuento button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4a90e2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;

}
.cuento button:hover {
    background-color: #ffd700;
}
.cuento:hover {
    transform: scale(1.05);
}
/*--------------------------------------------------------------------*/
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    bottom: 0;
    margin-top: 100px;
}

/*--------------------------------------------------------------------*/
/*Media Querys: Para el diseño responsive */
@media screen and (min-width:1024px) {
    #header ul{
        display: flex;
    }
    .icon-menu{
        display: none;
    }
    .fixed{
        display: block;
    }
}
/*--------------------------------------------------------------*/
.btn-register{
    background: none;
    border: none;
    cursor: pointer;
    color: #388E3C ;    
}

.nav-menu {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    margin: 0 20px;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    color: #ccc;
    background-color: #2a2a2a;
    padding: 10px 0;
}

/*----------------------------------------*/
.perfil{
    width: 80%;
    height: 90%;    
    background: linear-gradient(256deg, #ffffff 0%, #f0eff6 100%);
    border: 3px solid #fff;
    z-index: 101;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    font-size: 1.3rem;
}
.perfil input, .perfil select {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    margin: 10px 0;
}
.perfil button{
    font-size: 1.2rem;
}
.display-none{
    display: none;
}
.perfil-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
}
.selector{    
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;  
    padding: 20px; 
    z-index: 1002;
    transition: transform 2s;
}
.selector-img{
    background: url(img-register/background.png);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    position: relative;    
}
.translate-100{
    transform: translate(100%, 0);
}
.selector-img img{
    width: 70%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.overlay-active{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    padding: 20px;
    background-color: #e5e7ef;
    transition: all .5s;
}

.register-container{
    width: 100%;
    text-align: end;
}
.login{
    width: 50%;
    position: relative;
    padding: 40px;
    height: 100%;
    padding: 50px;
}
.container-img-active{
    text-align: center;
    height: 60%;
    z-index: 1004;
}

.container-clouds-active{
    display: none;
}
#close-perfil{
    position: absolute;
    z-index: 1003;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    border-radius: 20px;
    background: transparent;
box-shadow:  8px 8px 14px #b5b5b5,
             -8px -8px 14px #ffffff;
}
#close-perfil span{
    width: 0;
    visibility: hidden;
}
#close-perfil:hover#close-perfil span{
    width: 100%;
    visibility: visible;
}
/*----------------------------------------*/

.register{
    width: 50%;
    height: 100%;
    position: relative;
    padding: 40px;
}
.register-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.form-info{
    max-width: 550px;
}
.other-form-register{ 
    width: 100%;
    height: 100%;
    padding: 40px;    
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.other-register{
    width:100%;
    max-width: 500px;
}

.line{
    flex: 1;
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.tradicional-register{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    width:100%;
    max-width: 500px;
}
.back-login{
    margin-top: 20px;
}
.back-login button{
    background:none;
    border: none;
    color: #388E3C;
    cursor: pointer;
}
.back-login button:hover{
    transform: scale(1.02);
}
.btn-signup{
    width: 100%;
    padding: 20px;
    border:none;
    background-color: #4ABE52;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;    
    transition: all .4s;
}
.btn-signup:hover{
    transform: scale(1.02);
    background-color: #a5f3aa;
    color: #2a2a2a;
}
.register-box h2 {
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.register-box .logo {
    display: block;
    margin: 0 auto 15px;
    width: 50px;
}

.register-box input, .register-box select {
    width: 100%;
}

.btn-dinamic-register{
    display: flex;
    position: relative;
    border: 2px solid #fff;
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;    
    color: #fff;
}
.btn-dinamic-register button:hover{
    transform: scale(1.05);
}
.btn-cancelar-register:hover{
    background-color: #4ABE52;
    color: #fff;
}
.btn-cancelar-register:hover+.btn-registrar{
    background-color: transparent;
    color: #2a2a2a;
}
.btn-registrar{
    transform: scale(1.03);
    color: #fff;
}

/*-------------------------------------------------*/
/* Sección izquierda del formulario */
.login-formulario {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    gap: 15px;
    height: 100%;
    width: 100%;
}
.info-login{
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: auto;
}
.login-formulario h2 {
    font-weight: bolder;
}
.login-formulario h3 {
    font-weight: normal;
    margin: 20px 0;
}
.form-2{
    display: flex;
    gap: 10px;
}
.login-formulario form {
    margin-top: 10px;
}
.other-login{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    max-height: 30%;
}
.text{
    padding: 20px 0;
    display: flex;
    align-items: center;
}
.text span{
    flex: 2;
    text-align: center;
}
.btn-other-login{
    display: flex;
    justify-content: center;
}
.btnIcon{
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 0 20px;
    cursor: pointer;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnIcon:hover{
    background-color: #fff;
    transform: scale(1.1);
}
.img-icon{
    width: 100%;
}
.btn-perfil {
    background-color: #4ABE52;    
    
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-IniciarSesion{
    box-shadow: 12px 32px 30.5px 13px rgba(170, 242, 170, 0.39);
    color: white;
}
.btn-perfil svg{
    margin-right:10px;
    display: none;
}
.btn-transparent{
    background-color: transparent;
}
.btn-login:hover {
    background-color: #388E3C;
}
.forgot-password {
    text-align: end;
    margin: 20px 0;
}
/**------------------------------------------------------*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
}

.card {
    background: #f5f5f5;
    border-radius: 8px;
    overflow: hidden;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid #ddd;
    padding: 1rem;
    transition: transform 0.3s ease; 
}
.card:hover {
    transform: scale(1.05); 
}


.image-container {
    width: 100%;
    height: 80%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    margin-bottom: 10px;
}

.card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.card-title {
    margin-top: 0.5rem;
    text-align: center;
    color: #333;
    font-size: 0.9rem;
}

.featured-card {
    background-color: white;
}

.featured-card .image-container {
    border-color: #4CAF50;
}