
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');



.historias-destacadas h2 {
    text-align: center;
    font-size: 32px;
    color: #4a90e2;
}

.btn-register{
    background: none;
    border: none;
    cursor: pointer;
    color: #388E3C ;    
}

.nav-menu {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    margin: 0 20px;
}

.nav-menu a:hover {
    text-decoration: underline;
}
@media screen and (max-width:1024px) {
    #header ul{
        display: none;
    }
    .icon-menu{
        display: block;
        position: fixed;
    }
    #Historias{
        height: auto;
    }
    .historias{
        max-height: none;
    }

    .info-card{
        max-width: none;
        padding: 40px;
    }
    .menu-options{
        display: block;        
    }
    .card-container{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw; 
        height: 100vh;
        z-index: 9999; 
        overflow-y: hidden;
        margin:0;
    }
    .fotos, .contacto {
        margin: 0;
    }
    .icon{
        min-height: 300px;
    }
    .fotos{
        margin-top: 20px;
    }
    .fotos h2{
        display: none;
    }
}

@media (max-width: 768px) {
    .imagen-info{
        width: 150px;
    }
    .descri-info{
        padding: 0;
    }
    .info-card{
        padding: 5px;
    }
    .selector, .login-user{
        display: none;
    }
    .login-user{
        width: 100%;
    }
    .info-cuenta{
        padding: 20px;
    }
    .login-user .info-cuenta h2{
        font-size: clamp(1.3rem, 5vw, 3rem);
    }
    .cuenta-data span{
        font-size: clamp(1rem, 4vw, 1.5rem)!important;
    }
    .container-login{
        width: 100%;
        padding: 0;
    }
    .login{
        padding: 20px;
    }
    .login-formulario p, .login-formulario button, .login-formulario span{
        font-size: clamp(1rem, 3vw, 2rem);
    }
    .login-formulario h2{
        font-size: clamp(1.2rem, 6vw, 2rem);
    }
    .login-formulario h3{
        margin: 0;
        font-size: clamp(1.1rem, 4vw, 2rem);
    }
    .forgot-password{
        margin: 10px;
    }
    .info-login button{
        padding: 10px;
    }
    .info-login input{
        padding: 10px;
        font-size: clamp(.9rem, 4vw, 1.1rem);
    }
    .other-login, .text{
        padding: 0;
    }
    .btnIcon{
        margin: 10px 0;
        padding: 0px;
    }
    .btnIcon img{
        max-width: 30px;
    }    
    .register span, .register p, .register button{
        font-size: clamp(1rem, 4vw, 1.4rem);
    }
}